{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-wrapper">
<header>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  {% include 'sidebar.html' %}
    
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="/">
            <img src="{% static 'img/erasmus.png' %}" alt="Erasmus">
          </a>
          <a href="#">
            <img src="{% static 'img/logo.png' %}" alt="Erasmus">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-5">
              <li class="nav-item">
                <a class="nav-link" href="#">О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'all_news' %}">Новости</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Контакты</a>
              </li>
            </ul>
            <div>
              {% if user.is_authenticated %}
                   <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
                    <button type="submit">Logout</button>
                    </form>
              {% else %}
                   <a href="{% url 'login' %}">Sign in</a> / <a href="{% url 'register' %}">Sign up</a>
                {% endif %}
            </div>
          </div>
      </nav>
    </div>
 </header>
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
 
        <div class="example-2 card">
          <div class="wrapper">
            <div class="header">
              <div class="date">
                <span class="day">12</span>
                <span class="month">Aug</span>
                <span class="year">2016</span>
              </div>
            </div>
            <div class="data">
              <div class="content">
                <span class="author">Jane Doe</span>
                <h1 class="title"><a href="#">Stranger Things: The sound of the Upside Down</a></h1>
                <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                <a href="#" class="button">Read more</a>
              </div>
            </div>
          </div>
        </div>
     
    </div>
    <div class="carousel-item">
      <div class="example-2 card">
        <div class="wrapper">
          <div class="header">
            <div class="date">
              <span class="day">12</span>
              <span class="month">Aug</span>
              <span class="year">2016</span>
            </div>
          </div>
          <div class="data">
            <div class="content">
              <span class="author">Jane Doe</span>
              <h1 class="title"><a href="#">Stranger Things: The sound of the Upside Down</a></h1>
              <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
              <a href="#" class="button">Read more</a>
            </div>
          </div>
        </div>
      </div>    </div>
    <div class="carousel-item">
      <div class="example-2 card">
        <div class="wrapper">
          <div class="header">
            <div class="date">
              <span class="day">12</span>
              <span class="month">Aug</span>
              <span class="year">2016</span>
            </div>

          </div>
          <div class="data">
            <div class="content">
              <span class="author">Jane Doe</span>
              <h1 class="title"><a href="#">Stranger Things: The sound of the Upside Down</a></h1>
              <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
              <a href="#" class="button">Read more</a>
            </div>
          </div>
        </div>
      </div>    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<footer id="footer">
  <p>&copy; Something | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
</footer>

</div>
{% endblock %}
